@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #003d00;
  border-bottom-color: #003d00;
  animation: spinner 0.8s ease infinite;
}
.spinnerSmall {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.spinnerSmall:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  margin: 1px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinnerSmall 1.2s linear infinite;
}
@keyframes spinnerSmall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerSmallBlack {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.spinnerSmallBlack:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  margin: 1px;
  border-radius: 50%;
  border: 1.5px solid #003d00;
  border-color: #003d00 transparent#003d00 transparent;
  animation: spinnerSmall 1.2s linear infinite;
}
@keyframes spinnerSmall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
